body{
	
	color: #40514E;
	margin: 0;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
	margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.62rem;
  color:  #66BFBF;
}
h2{
	color:  #66BFBF;
	
}
h3{
	color: #11999E;
	
}
a{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
a:hover{
	color: #eaf6f6;
}
p{
	line-height: 2;
}
hr{
	border: dotted #eaf6f6 6px;
	width: 5%;
	border-bottom: none;
	margin:60px auto;
}
.top-container{
	background-color: #eaf6f6;
	position: relative;
	padding-top: 100px;

}
.middle-container{
	position: relative;
	margin: 100 0; 
}
.bottom-container{
	background-color: #66BFBF;
	padding-top: 30px;
	padding-bottom: 30px;
}
.bottom-cloud{
	position: absolute;
	bottom: 300px;
	left: 250px;
}
.top-cloud{
	position: absolute;
	top: 40px;
	right:300px;
}
.profile-pic{
	height: 15%;
	width: 15%;
	border-radius: 100%;
}
.intro{
	font-size: 2.4rem;
	margin-top: 0;
	color:  #66BFBF;
	font-weight: normal;
}
.mountain{
	position: relative;
	bottom: 50px;
}
.skill-row{
	
	width: 55%;
	height:50%;
	margin:100px auto 100px auto;
	text-align: left;
	
}
.code-img{
	width: 25%;
	float: left;
	margin-right: 30px; 
}
.chillies-img{
	float: right;
	margin-left: 30px;
	width: 25%
}
.description{
	width: 40%; 
	align-content: center;
	margin:auto;
}
.profile{
	margin: 30px auto 30px auto;
	align-content: center;
}
.contact-descrip{
	width: 50%;
	margin: 40px auto 60px; 
}
.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 30px;
   
}

.btn:hover {
   border: solid #66BFBF 1px;
   background: #66BFB1;
   background-image: -webkit-linear-gradient(top, #66BFB1, #66BFB2);
   background-image: -moz-linear-gradient(top, #66BFB1, #66BFB2);
   background-image: -ms-linear-gradient(top, #66BFB1, #66BFB2);
   background-image: -o-linear-gradient(top, #66BFB1, #66BFB2);
   background-image: -webkit-gradient(to bottom, #66BFB1, #66BFB2);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.footer-link{
	margin:0 40px 0 40px;
}
.copyright{
	color: #eaf6f6;
	font-size: 0.75rem;
}